[Unit]
Description=Database for jbovlaste

[Service]
Restart=always
#Environment="CONTAINER_BIN=/usr/bin/docker"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jbovlaste_database
WorkingDirectory=/home/sampre_jvs/jbovlaste
ExecStart=/bin/bash -x /home/sampre_jvs/jbovlaste/run_database.sh 2>&1
ExecStop=/bin/bash -x /home/sampre_jvs/jbovlaste/kill_database.sh 2>&1
TimeoutStartSec=10min

[Install]
WantedBy=default.target
